@import '/partials/reset';

body {
    height: 100%;
    padding-top: 5rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: #000000;
    -webkit-font-smoothing: antialiased;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: grid;
    place-content: center;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

.container{
    max-width: 800px;
    margin: auto;
    background-color: white;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    border: 5px solid black;
    .card{
        width: calc((100% - 4rem) /3);
    }
    h2{
        color: red;
    }
}

.container:hover{
    transform: scale(1);
}
