* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: #000000;
  -webkit-font-smoothing: antialiased;
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 800px;
  margin: 15% auto;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid black;
}

.container h1 {
  color: red;
}

